<div
  [ngClass]="{ 'w-64': isOpen, 'w-20': !isOpen }"
  class="fixed inset-y-0 left-0 mt-16 bg-white dark:bg-gray-800 text-black dark:text-white shadow-lg flex flex-col justify-center items-center border-r border-black dark:border-gray-700 transition-width duration-300"
>
  <div class="flex items-center justify-between w-full h-30 border-b border-gray-300 dark:border-gray-700 px-4">
  
    <button (click)="toggleSidebar()" class="focus:outline-none cursor-pointer">
      <mat-icon>{{ isOpen ? 'chevron_left' : 'chevron_right' }}</mat-icon>
    </button>
  </div>
  <div class="flex-1 flex flex-col justify-center items-center p-4 space-y-4">
   
    <button
      routerLink="/observed-cities"
      class="w-full flex items-center text-left px-4 py-2 rounded hover:bg-gray-200 dark:hover:bg-gray-700 transition cursor-pointer"
    >
      <mat-icon class="mr-2">visibility</mat-icon>
      <span [ngClass]="{ 'hidden': !isOpen }">Observed Cities</span>
    </button>
    
    
    <button
      routerLink="/cities"
      class="w-full flex items-center text-left px-4 py-2 rounded hover:bg-gray-200 dark:hover:bg-gray-700 transition cursor-pointer"
    >
      <mat-icon class="mr-2">location_city</mat-icon>
      <span [ngClass]="{ 'hidden': !isOpen }">All Cities</span>
    </button>

  
    <button
      (click)="logout()"
      class="w-full flex items-center text-left px-4 py-2 rounded hover:bg-gray-200 dark:hover:bg-gray-700 transition cursor-pointer"
    >
      <mat-icon class="mr-2">logout</mat-icon>
      <span [ngClass]="{ 'hidden': !isOpen }">Logout</span>
    </button>

   
    <button
      (click)="changeAvatar()"
      class="w-full flex items-center text-left px-4 py-2 rounded hover:bg-gray-200 dark:hover:bg-gray-700 transition cursor-pointer"
    >
      <mat-icon class="mr-2">account_circle</mat-icon>
      <span [ngClass]="{ 'hidden': !isOpen }">Change Avatar</span>
    </button>
  </div>
</div>